.input {
    border-radius: 200px;
    text-decoration: none;
    border: none;
    color: #000000;
}

.input.gt2bt {
    border: 2px solid #cccccc;
    color: #cccccc;
}
.input.gt2bt:focus {
    border: 2px solid #270b3e;
    color: #270b3e;
}